@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#fixed-logo {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#fixed-logo > img {
  height: 7vh;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

.fixed-nav {
  position: fixed;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 800;
}

.fixed-nav > div {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 30px;
  padding: 10px;
  min-width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: white;
}

.description-event-popup > h1 {
  font-family: "Rosario", sans-serif;
  font-size: 38px;
}

span {
  display: block;
}