.signup-main {
  height: 95vh;
}

.signup-section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.8s ease-in-out;
}

.signup-section > div:nth-child(1) {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}

.signup-section > div > h1 {
  font-size: 8vw;
  font-weight: 400;
}

.signup-section > div > input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(168, 168, 168);
  width: 80%;
  text-align: center;
  padding-bottom: 5px;
  font-size: 4vw;
}

.signup-section > div > button {
  background: black;
  width: 80%;
  padding: 10px;
  border-radius: 30px;
  color: white;
  font-size: 4vw;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.setup-bar {
  position: fixed;
  top: 20px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.setup-bar > a {
  height: 2vw;
  border-top: 2.5px solid rgb(164, 164, 164);
  color: white;
  width: 20vw;
  margin: 10px;
}

#setup-section {
  border-top: 2.5px solid black;
}

#signup-2, #signup-3, #signup-4 {
  display: none;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social > img {
  height: 3vh;
  margin-right: 10px;
}

#signup-5 > div > h1 {
}

#signup-5 > div > button {
  padding: 20px;
}

#videoAnimEnter {
  display: none;
}

#signup-5 {
  display: none;
}